<section class="lg:py-28 md:py-20 py-16">
    <div class="container">
        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 items-center gap-6 lg:gap-10 justify-center lg:justify-between">
            <div class="text-center">
                <div class="bg-primary rounded-full mx-auto -mb-16 size-37.5"></div>
                <span class="text-default-800 font-bold text-8xl leading-tight block">28</span>
                <h6 class="mx-auto text-xl w-50">Years of working experience</h6>
            </div>

            <div class="text-start">
                <span class="font-medium text-xl mb-2">Since 1996</span>
                <h3 class="text-2xl lg:text-4xl md:text-3xl font-bold">Genuinely corporate UK-based enterprises</h3>
            </div>

            <div class="lg:col-span-1 md:col-span-2 text-start">
                <p class="mb-6">Embrace a new era of digital success with Mizzle. Our team combines cutting-edge design with robust development to deliver websites that captivate and convert.</p>
                <a [routerLink]="[]" class="inline-block bg-dark text-white px-4 py-2 rounded-md hover:bg-dark/85 transition-all font-medium duration-300">Know more about us</a>
            </div>
        </div>
    </div>
</section>