<section class="lg:pb-24 md:pb-14 pb-12">
    <div class="container">
        <div class="text-center mb-14">
            <h2 class="lg:text-[45px] md:text-4xl text-3xl">
                How it works in
                <span class="text-primary">4</span>
                easy steps
            </h2>
        </div>

        <div class="flex justify-center items-center md:mb-16 mb-8">
            <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 lg:gap-0 md:gap-8 gap-4 items-start w-full">
                <div class="block lg:flex-col items-center relative lg:after:content-[''] lg:after:absolute lg:after:w-1/2 lg:after:h-px lg:after:border lg:after:border-dashed lg:after:border-default-200 dark:lg:after:border-white/14 lg:after:top-7 lg:after:end-0 lg:after:-z-10 after:content-[''] lg:block md:pb-0 pb-6">
                    <div>
                        <div class="size-14 bg-dark rounded-full flex justify-center items-center mx-auto lg:mb-0 mb-4">
                            <iconify-icon icon="lucide:search" class="text-white" height="24" width="24"></iconify-icon>
                        </div>
                    </div>

                    <div class="text-center lg:ms-0 ms-5 lg:mx-8">
                        <h3 class="font-bold md:text-2xl text-xl lg:mt-4 mb-2">Discovery and Consultation</h3>
                        <p>We begin by getting to know your unique requirements, goals, and challenges.</p>
                    </div>
                </div>

                <div class="block lg:flex-col items-center flex-1 relative lg:after:content-[''] lg:after:absolute lg:after:w-full lg:after:h-px lg:after:border lg:after:border-dashed lg:after:border-default-200 lg:dark:after:border-white/14 lg:after:top-7 lg:after:end-0 lg:after:-z-10 md:py-0 py-6 after:lg:block after:hidden">
                    <div>
                        <div class="size-14 bg-dark rounded-full flex justify-center items-center mx-auto lg:mb-0 mb-4">
                            <iconify-icon icon="lucide:target" class="text-white" height="24" width="24"></iconify-icon>
                        </div>
                    </div>

                    <div class="text-center md:ms-0 ms-5 lg:mx-8">
                        <h3 class="font-bold md:text-2xl text-xl md:mt-4 mb-2">Planning and Strategy</h3>
                        <p>We define project milestones and deliverables to keep the process on track.</p>
                    </div>
                </div>

                <div class="block lg:flex-col items-center flex-1 relative lg:after:content-[''] lg:after:absolute lg:after:w-full lg:after:h-px lg:after:border lg:after:border-dashed lg:after:border-default-200 lg:dark:after:border-white/14 lg:after:top-7 lg:after:end-0 lg:after:-z-10 md:py-0 py-6 after:lg:block after:hidden">
                    <div>
                        <div class="size-14 bg-dark rounded-full flex justify-center items-center mx-auto lg:mb-0 mb-4">
                            <iconify-icon icon="lucide:rocket" class="text-white" height="24" width="24"></iconify-icon>
                        </div>
                    </div>

                    <div class="text-center mx-10">
                        <h3 class="font-bold md:text-2xl text-xl md:mt-4 mb-2">Deployment and Launch</h3>
                        <p>We ensure a smooth transition to the live, providing support every step of the way.</p>
                    </div>
                </div>

                <div class="block lg:flex-col items-center flex-1 relative lg:after:content-[''] lg:after:absolute lg:after:w-1/2 lg:after:h-px lg:after:border lg:after:border-dashed lg:after:border-default-200 lg:dark:after:border-white/14 lg:after:top-7 lg:after:start-0 lg:after:-z-10 md:py-0 py-6 after:lg:block after:hidden">
                    <div>
                        <div class="size-14 bg-dark rounded-full flex justify-center items-center mx-auto lg:mb-0 mb-4">
                            <iconify-icon icon="lucide:headset" class="text-white" height="24" width="24"></iconify-icon>
                        </div>
                    </div>

                    <div class="text-center md:ms-0 ms-5 lg:mx-8">
                        <h3 class="font-bold md:text-2xl text-xl md:mt-4 mb-2">Support and Maintenance</h3>
                        <p>We offer ongoing support and maintenance services to keep your software running.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>