<section class="lg:py-28 md:py-20 py-16">
        <div class="container">
            <div class="text-center lg:mb-10 mb-6">
                <h2 class="lg:text-[45px] md:text-4xl text-3xl">Explore our latest blogs</h2>
            </div>

            <div class="swiper" data-swiper-options='{
			"loop": false,
			"spaceBetween": 30,
			"pagination":{
				"el":".swiper-pagination"
			},
			"breakpoints": {
				"576": {"slidesPerView": 1}, 
				"768": {"slidesPerView": 2}, 
				"992": {"slidesPerView": 3}
			}
                        }'>
                <div class="swiper-wrapper md:py-6">
                    <div class="swiper-slide">
                        <article class="bg-body-bg border border-default-200 rounded-lg p-2 h-full flex flex-col group">
                            <div class="relative overflow-hidden rounded-md">
                                <img src="/images/blog/4by3/03.jpg" alt="service image" class="w-full h-auto transform transition-transform duration-500 group-hover:scale-105" />
                                <div class="absolute top-0 start-0 m-4 bg-dark text-white text-xs font-medium px-2 py-1 rounded">Technology</div>
                            </div>

                            <div class="flex flex-col px-2 py-5 flex-1">
                                <div class="text-sm text-default-600 mb-3 flex items-center gap-1">
                                    <i data-lucide="calendar" class="size-4 me-1"></i>
                                    April 15, 2024
                                </div>

                                <h6 class="text-lg font-semibold mb-4">
                                    <a href="blog-single-v2.html" class="group-hover:text-primary transition-colors duration-300">Sleek and Responsive - Designing with TailwindCSS and Mizzle</a>
                                </h6>

                                <div class="mt-auto flex items-center justify-between">
                                    <div class="flex items-center gap-2">
                                        <div class="size-9">
                                            <img src="/images/avatar/02.jpg" alt="avatar" class="size-full rounded-md object-cover" />
                                        </div>
                                        <p>By Emma Watson</p>
                                    </div>

                                    <a href="#" class="flex items-center justify-center size-10 rounded-full bg-dark text-white">
                                        <i data-lucide="arrow-up-right" class="size-5"></i>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="swiper-slide">
                        <article class="bg-body-bg border border-default-200 rounded-lg p-2 h-full flex flex-col group">
                            <div class="relative overflow-hidden rounded-md">
                                <img src="/images/blog/4by3/08.jpg" alt="service image" class="w-full h-auto transform transition-transform duration-500 group-hover:scale-105" />
                                <div class="absolute top-0 start-0 m-4 bg-dark text-white text-xs font-medium px-2 py-1 rounded">Research</div>
                            </div>

                            <div class="flex flex-col px-2 py-5 flex-1">
                                <div class="text-sm text-default-600 mb-3 flex items-center gap-1">
                                    <i data-lucide="calendar" class="size-4 me-1"></i>
                                    April 12, 2024
                                </div>

                                <h6 class="text-lg font-semibold mb-4">
                                    <a href="blog-single-v2.html" class="group-hover:text-primary transition-colors duration-300">Mastering HTML Website Templates - Unleash Your Creativity with TailwindCSS</a>
                                </h6>

                                <div class="mt-auto flex items-center justify-between">
                                    <div class="flex items-center gap-2">
                                        <div class="size-9">
                                            <img src="/images/avatar/04.jpg" alt="avatar" class="size-full rounded-md object-cover" />
                                        </div>
                                        <p>By Louis Ferguson</p>
                                    </div>

                                    <a href="#" class="flex items-center justify-center size-10 rounded-full bg-dark text-white">
                                        <i data-lucide="arrow-up-right" class="size-5"></i>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="swiper-slide">
                        <article class="bg-body-bg border border-default-200 rounded-lg p-2 h-full flex flex-col group">
                            <div class="relative overflow-hidden rounded-md">
                                <img src="/images/blog/4by3/07.jpg" alt="service image" class="w-full h-auto transform transition-transform duration-500 group-hover:scale-105" />
                                <div class="absolute top-0 start-0 m-4 bg-dark text-white text-xs font-medium px-2 py-1 rounded">Technology</div>
                            </div>

                            <div class="flex flex-col px-2 py-5 flex-1">
                                <div class="text-sm text-default-600 mb-4 flex items-center gap-1">
                                    <i data-lucide="calendar" class="size-4 me-1"></i>
                                    April 08, 2024
                                </div>

                                <h6 class="text-lg font-semibold mb-4">
                                    <a href="blog-single-v2.html" class="group-hover:text-primary transition-colors duration-300">Effortless Web Design with Mizzle - Unlock Your Creative Potential</a>
                                </h6>

                                <div class="mt-auto flex items-center justify-between">
                                    <div class="flex items-center gap-2">
                                        <div class="size-9">
                                            <img src="/images/avatar/09.jpg" alt="avatar" class="size-full rounded-md object-cover" />
                                        </div>
                                        <p>By Allen Smith</p>
                                    </div>

                                    <a href="#" class="flex items-center justify-center size-10 rounded-full bg-dark text-white">
                                        <i data-lucide="arrow-up-right" class="size-5"></i>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>