/* // mockup.scss */

/* // // MACBOOK */
.mac_container{
	width: 100%;
	margin: 10px auto;
}
.mac_scaler{
	margin: auto;
	width: 100%;
	padding-top: 57.875%;
	height: 0px;
	position: relative;
}
.mac_holder{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
/* // mac screen */
.mac_screen{
	margin: auto;
	background: #080808;
	width: 86%;
	height: 100%;
	border-top-left-radius: 2% 3%;
	border-top-right-radius: 2% 3%;
	border-bottom-left-radius: 5% 3%;
	border-bottom-right-radius: 5% 3%;
	box-sizing: border-box;
	padding: 3%;
	position: relative;
	overflow: hidden;
	border: 1px solid var(--color-light);
}

/* // mac camera */
.mac_camera{
	background: #333;
	border-radius: 50%;
	width: 1%;
	height: 1.5%;
	position: absolute;
	left: 49.5%;
	top: 2%;
	&:after{
		content: '';
		position: absolute;
		left: 35%;
		top: 40%;
		width: 30%;
		height: 30%;
		border-radius: 50%;
		background: #777;
	}
}
/* // mac bottom */
.mac_bottom{
	background: #e9e9e9;
	background: linear-gradient(#ccc 50%, #444);
	width: 100%;
	height: 3%;
	position: relative;
	top: -1.7%;
	border-bottom-left-radius: 6% 50%;
	border-bottom-right-radius: 6% 50%;
}
.mac_bottom_top_half{
	width: 100%;
	height: 50%;
	background: #e9e9e9;
	background: linear-gradient(90deg, #aaa, #f3f3f3 0.5%, #aaa 2.5%, #f3f3f3 5.5%, #f3f3f3 94.5%, #aaa 97.5%, #f3f3f3 99.5%, #aaa);
}
.mac_bottom:after{
	content: '';
	position: absolute;
	right: 1%;
	bottom: 11%;
	width: 98%;
	height: 0%;
	box-shadow: 1px 0px 8px 1px #333;
}
/* // mac thumb */
.mac_thumb_space{
	background: #bbb;
	background: radial-gradient(90% 150% at 50% 1%, #eee 49%, #888);
	margin: auto;
	width: 15%;
	height: 60%;
	border-bottom-left-radius: 8% 100%;
	border-bottom-right-radius: 8% 100%;
}
.mac_screen_content{
	width: 100%;
	height: 100%;
	text-align: center;
}